/aa/nbproject/private/
/aa/build/
/Week 3/nbproject/private/
/Week 2/nbproject/private/
/Week 2/build/
/Week 3/build/
/Week 4/nbproject/private/
/Week 4/build/
/Week 4/bai1/nbproject/private/
/Week 4/bai1/build/
/Week 4/bai2_4/nbproject/private/
/Week 4/bai2_4/build/
/Week 4/bai3_4/nbproject/private/
/Week 4/bai3_4/build/
/Week 5/nbproject/private/
/Week 5/build/